.statusbar {
  border-top: 1px solid #CCC;
  width: 100%;
  height: 20px;
  background: #d9dcdf;
  color: #777;
  display: flex;
  align-items: center;

  > * + *{
    margin-left: 20px;
  }
}

.app-statusbar-updates {
  a {
    color: #FFFFFF;
    display: block;
    padding: 0 5px;
    font-size: 19px;

    svg {
      display: block;
    }
  }

  &.update-available a {
    color: #3F51B5;
  }
}
