.csv-import-transform {
  position: absolute;
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  background: #FFF;
  border-radius: 2px;
  border: 1px solid #9E9E9E;
  box-shadow: 1px 1px 111px 30px rgba(0,0,0,0.3);
  padding: 0;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .toolbar {
    height: 50px;
    border-top: 1px solid #ccc;
  }

  .data {
    overflow: hidden;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .data-main {
    border: 1px solid #e4e4e4;
  }

  .importer-presets {
    min-width: 150px;
    overflow: auto;
    flex-direction: column;
    display: flex;
    background: #f8f8f8;

    h5 {
      padding: 0 5px;
    }

    .list li.nolink {
      padding-left: 5px;
    }
  }

  .data-table {
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  table {
    border-collapse: collapse;
    width: 1420px;
  }

  tr {
    &.skip {
      opacity: 0.25;
    }
  }

  td {
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 4px 4px 2px 4px;
  }

  input:hover {
    background: #FAFAF4;
  }

  .errors {
    padding: 0 20px;
    margin-left: 20px;
    border-left: 1px solid #ccc;

    p {
      color: rgb(194, 0, 0);
      margin: 0;
    }
  }
}

.separator {
  button {
    padding: 1px 8px;

    &.active {
      background: #EEEEEE;
    }
  }
}

.importing-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  padding: 0 20px;
}

.import-success {
  background: #fff196;
  padding: 10px 40px;
  border-radius: 3px;
  border: 1px solid #000;
  font-weight: bold;
}
