.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 36px;
  border-bottom: 1px solid #ccc;
}

.window-title {
  padding-left: 10px;
  text-transform: uppercase;

  .product-name + span {
    border-left: 1px solid #000;
    padding: 10px 0 10px 9px;
    margin-left: 10px;
  }

  sup {
    font-size: 8px;
  }

  .platform-osx & {
    margin-left: auto;
  }
}

#rename-project {
  -webkit-app-region: no-drag;
  display: inline-block;
  margin: -10px 10px;
}

#project-settings {
  -webkit-app-region: no-drag
}

// "borrowed" from Visual Studio Code
.window-controls-container {
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  position: relative;
  z-index: 3000;
  height: 100%;
  width: 138px;
  margin-left: auto;

  .window-close {
    -webkit-mask: url('icons/chrome-close.svg') no-repeat 50% 50%;
    mask: url('icons/chrome-close.svg') no-repeat 50% 50%;
  }
  
  .window-unmaximize {
    -webkit-mask: url('icons/chrome-restore.svg') no-repeat 50% 50%;
    mask: url('icons/chrome-restore.svg') no-repeat 50% 50%;
  }
  
  .window-maximize {
    -webkit-mask: url('icons/chrome-maximize.svg') no-repeat 50% 50%;
    mask: url('icons/chrome-maximize.svg') no-repeat 50% 50%;
  }
  
  .window-minimize {
    -webkit-mask: url('icons/chrome-minimize.svg') no-repeat 50% 50%;
    mask: url('icons/chrome-minimize.svg') no-repeat 50% 50%;
  }
  
  .window-icon {
    height: 100%;
    width: 100%;
    background-color: #444;
    -webkit-mask-size: 23.1%;
    mask-size: 23.1%;
  }

  .window-icon-bg {
    display: inline-block;
    -webkit-app-region: no-drag;
    height: 100%;
    width: 33.34%;
  }
  
  .window-icon-bg:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .window-close-bg:hover {
    background-color: rgba(232, 17, 35, 0.9);
  }
  
  .window-close:hover {
    background-color: white;
  }
}

.window-title input {
  margin: -10px 5px;
}