.collection-list .splitpane-main-vertical > .Pane2 {
  overflow: auto;
}

#view-collections {
  display: flex;
  height: 100%;
  overflow: auto;

  .collection-list {
    width: 200px;
    border-right: 1px solid #eeeeee;
  }

  .collection-options {
    padding: 10px;
    background: #f0e4bc;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
    }
  }

  .collection-data {
    width: 100%;
    overflow: auto;

    table {
      border-collapse: collapse;
      margin-left: -1px;

      th,
      td {
        border: 1px solid #eeeeee;
        vertical-align: top;
        padding: 3px 5px;
      }
    }
  }
}


