.term-manager-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  &.busy::after {
    display: block;
  }

  .taxonomy-manager,
  .term-group-manager,
  .term-manager,
  .term-manager-taxonomies,
  .term-manager-term-groups,
  .term-manager-terms {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-width: max-content;
  }

  .term-manager-term-groups {
    width: auto;
    border-right: 1px solid #ddd;
  }

  .terms,
  .taxonomies,
  .term-groups {
    height: 100%;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    overflow: auto;
    flex: 2;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .term-manager-terms .terms {
    max-width: none;
    border-right: 1px solid #ddd;

    .term {
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      > span {
        padding: 2px 5px;
      }
    }

    .term-streetviewimage-count,
    .term-termgroup-count {
      width: 50px;
      flex: inherit !important;
      text-align: center;
      border-right: 1px solid #eee;
    }

    .term-streetviewimage-count {
      border-left: 1px solid #eee;
    }

    .term-color {
      margin: 2px;
    }
  }

  .term-manager-terms .term-groups {
    padding: 0 5px;

    .term-termgroup + .term-termgroup::before {
      content: ", ";
    }
  }

  #term-empty,
  #taxonomy-empty,
  #term-group-empty {
    padding: 0 10px;
    text-align: center;
  }

  .term-manager-taxonomies {
    width: auto;
    display: none;
  }

  .term-manager-terms .term,
  .term-manager-term-groups .term-group,
  .term-manager-taxonomies .taxonomy {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #f4f4f4;

    span {
      flex: 1;
    }

    &.selected {
      background: #cccccc;
      color: #454545;
    }
  
    &:hover {
      /*background: #dddddd;*/
      cursor: pointer;
    }

    &:not(#term-empty)::before,
    &:not(#term-group-empty)::before,
    &:not(#taxonomy-empty)::before {
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      width: 20px;
      height: 1em;
    }
  }

  .modified {
    background: #ffffc7;
  }

  .flashing {
    animation: flashing 0.5s linear infinite;
  }

  .term {
    .term-visibility,
    .term-color {
      width: 30px;
      flex: inherit !important;
      text-align: center;
    }

    .term-color {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
    }

    .term-slug {
      max-width: 500px;
    }
  }

  .taxonomy-id,
  .term-group-id,
  .term-id {
    display: inline-block;
    width: 65px;
  }

  .stats {
    margin: 20px 0;
  }

  .options {
    flex: 1;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    min-width: 300px;
    max-width: 400px;
    overflow: auto;

    input[type="text"] {
      width: 100%;
    }
  }

  .rename {
    position: relative;
  }

  button.active {
    color: #FFF;
    background-color: #000;
  }

  .options-block {
    margin-top: 5px;

    label {
      // width: 130px;
      display: block;
    }

    &.sort-terms {
      margin-top: 10px;
    }

    &.term-color {
      margin-bottom: 10px;
    }
  }
}

@keyframes flashing {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #ff0000;
  }

  100% {
    background-color: transparent;
  }
}