.tagger-items {
  width: 100%;
  // height: 100%;
  overflow: auto;

  &.point-columns-2 {
    display: flex;
    flex-wrap: wrap;
  }
}

.tagger-item {
  width: calc(50% - 10px);
  max-width: none;
  position: relative;
  margin: 5px;
  white-space: initial;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.20);
  border-radius: 3px;

  .number-direction {
    opacity: 0.5;
  }

  .terms-container {
    border: none;
    background: none;
  }

  .selected & {
    background-color: #fffdeb;
    border-color: #a57c1f;

    .tagger-image::after {
      content: "";
      background: #FFEB3B;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.25;
    }

    &.selected {
      background-color: rgba(255, 151, 12, 0.19);
      box-shadow: 0 0 0px 3px rgba(121, 85, 72, 0.4);
      
      .tagger-image::after {
        background: #ffae3b;
      }
    }
  }

  .show-in-folder,
  .delete-image {
    position: absolute;
    bottom: -1px;
    left: -1px;
    font-size: 20px;
    padding: 2px 4px;
    line-height: 0;
    border-radius: 0;
    border-top-right-radius: 4px;
    color: #888888;
    transition: color 0.1s linear, opacity 0.1s linear;
    opacity: 0.7;

    &:hover {
      color: #3e5cff!important;
    }
  }

  &:hover .show-in-folder,
  .delete-image {
    color: #444444;
    opacity: 1;
  }

  .delete-image {
    left: auto;
    right: -1px;
  }
}

.tagger-title {
  font-size: 12px;
  height: 34px;
  margin: 0 0 0.5em 0;
  padding: 4px 7px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.tagger-image {
  width: 100%;
  padding-bottom: 62.5%;
  overflow: hidden;
  position: relative;

  &.selected {
    border: 3px solid red;
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }
}

.point {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: auto;

  .point-columns-2 & {
    width: 50%;
  }
}


.term-groups-tagger {
  .term-term-groups {
		border: 1px solid rgba(0, 0, 0, 0.35);
		border-radius: 2px;
		padding: 3px 5px;
		position: relative;
	}
	
	.term-groups-input {
		width: auto !important;
		border: none !important;
		padding: 1px;
	}

	input:focus {
		box-shadow: none;
	}

	.term-group {
		cursor: default;
		padding: 1px 0 2px 4px;
		border: 1px solid #c7c7c7;
		border-radius: 3px;
		display: inline-block;
		margin: 3px;
	}

	.term-group:hover {
		border-color: #aaaaaa;
	}

	.remove {
		cursor: pointer;
		color: #848484;
		background: #EEE;
  		padding: 1px 4px 2px;
	}

	.remove:hover {
		color: #444444;
		background: #E4E4E4;
	}

	.suggestions {
		border: 1px solid #888;
		max-height: 10em;
		overflow: auto;
		padding-top: 3px;
		margin-top: 3px;
		position: absolute;
		left: -1px;
		z-index: 9999999;
		background: #FFF;
		width: 100%;
		box-sizing: content-box;
	}

	.suggestions li {
		cursor: pointer;
		padding: 0 11px;
	}

	.suggestions li:hover {
		background-color: #eeeeee;
	}
}