.breadcrumbs {
  border-bottom: 1px solid #ccc;

  a {
    color: #444444;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    font-size: 10px;
    vertical-align: middle;
    margin: 0 5px;
  }
}
