.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  border-radius: 2px;
  border: 1px solid #e8e8e8;
  padding: 2px;

  .previous,
  .next,
  .pages {
    display: inline-block;
  }

  .previous,
  .next {
    padding: 4px;

    button {
      min-width: 65px;
    }
  }

  .pages {
    white-space: nowrap;

    input {
      max-width: 60px;
    }

    .current,
    .pages-total,
    .items-total,
    .sep {
      padding: 4px 2px;
      display: inline-block;
    }

    .items-total,
    .items-per-page {
      margin-left: 14px;
    }
  }

  &.small {
    .previous,
    .next {
      padding: 4px 2px;

      button {
        min-width: 0;
        padding: 1px 7px;
      }
    }

    .pages {
      input {
        max-width: 40px;
      }

      .items-total,
      .items-per-page {
        margin-left: 0;
      }
    }
  }
}
