.hidden {
  display: none;
}

#root {
  display: flex;
  height: 100%;
  border: 1px solid #ccc;
  flex-direction: column;
}

.app-main {
  display: flex;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.splitpane-main-horizontal .Resizer.horizontal {
  display: none;
}

.splitpane-main-vertical .Pane2 {
  // overflow: auto;
}

#breadcrumbs-main {
  display: flex;
  padding: 10px;
  line-height: 1;
}

.container {
  max-width: 1920px;
  width: 100%;

  &.medium {
    max-width: 1280px;
    margin: 0 auto;
  }

  &.small {
    max-width: 640px;
    margin: 0 auto;
  }

  &.x-small {
    max-width: 480px;
    margin: 0 auto;
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
  height: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.navigation-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  background: #EEE;
  border-right: 1px solid #ddd;
  padding: 0;

  li {
    a {
      text-align: center;
      display: block;
      padding: 20px 0px;
      border-bottom: 1px solid #CCC;
      background: #EEE;
      color: #000;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        background: #fafafa;
      }
    }
  }
}

#app-updates {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  overflow: auto;

  li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #DDDDDD;

    .striped &:nth-child(even) {
      background-color: #f4f4f4;
    }

    &.nolink,
    a {
      display: block;
      padding: 10px;
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    &.active a,
    &.nolink.active {
      color: #34384c !important;
      background: #f7f7ec;
      border-left: 5px solid;
    }
  }
}
