.Resizer {
  opacity: 0;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer.horizontal {
  height: 10px;
  margin: -5px 0;
  cursor: row-resize;
  width: 100%;
}

.Resizer.vertical {
  width: 10px;
  margin: 0 -5px;
  cursor: col-resize;
}

.Resizer.disabled {
  cursor: not-allowed;
}
