html {
  font-family: "Courier New", Arial, sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-size: 1em;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

body > * {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 1em 0 0.5em;
  line-height: 1.42;
}

h1 {
  font-size: 2.1em;
  margin-top: 0.25em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

p {
  font-size: 1.2em;
  line-height: 1.38;
}

blockquote {
  font-size: 1.8em;
  font-weight: 400;
  line-height: 30px;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.4px;
  margin: 0;
  border: 1px solid rgb(190, 191, 191);
  padding: 6px 3.5px 5px;
  box-sizing: border-box;
  outline: none;
}

select {
  border-color: #ccc;
  padding: 4px 2px;
}

input[type="color"] {
  padding: 0;
  border: none;
  background-color: transparent;
}

button,
.radio-group span {
  cursor: default;
  user-select: none;
  background-color: #FFF;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(200, 200, 200) rgb(194, 194, 194) rgb(172, 172, 172);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px;
  padding: 1px 13px;
  line-height: 24px;
  font-size: 12px;

  &:active {
    background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #f5f5f5 100%);
  }

  &.button-primary {
    border-color: rgb(76, 162, 249) rgb(38, 127, 252) rgb(1, 92, 255);
    background-image: -webkit-linear-gradient(top, rgb(108, 179, 250) 0%, rgb(8, 126, 255) 100%);
    color: rgba(255, 255, 255, 0.9);

    &:active {
      border-color: rgb(36, 127, 255) rgb(18, 94, 237) rgb(0, 61, 219);
      background-image: -webkit-linear-gradient(top, rgb(76, 152, 254) 0%, rgb(5, 100, 227) 100%);
    }
  }
}

button + button,
input + input {
  margin-left: 4px;
}

.field {
  margin: 15px 0 0;

  &.sequence-name,
  &.origin,
  &.destination {
    justify-content: space-between;
  }

  label {
    line-height: 1.83;
  }
}

.radio-group {
  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  input:checked + span {
    background-color: #3f51b517;
    color: #3e5cff;
  }
}

.error {
  color: red;
  padding: 5px 10px;
}

@import 'layout';
@import 'animations';
@import 'react-split-pane';
