.terms-container {
  background: #FFF;
  border: 1px solid #9E9E9E;
  border-radius: 2px;
  padding: 1px;
  position: relative;
  height: auto;

  .terms-inner-container {
    height: 84px;
    overflow: auto;
  }

  .point-columns-2 & {
    .terms-inner-container {
      height: 54px;
    }
  }

  label {
    display: none;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

  input {
    width: auto;
    max-width: 100%;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
    padding: 0 1px;
    display: inline-block;
    margin: 0;
    position: relative;
    line-height: 0;

    &:placeholder-shown {
      width: 100px;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .term {
    cursor: default;
    border: 1px solid #c7c7c7;
    display: inline-block;
    padding: 0 26px 0 3px;
    border-radius: 2px;
    margin: 0 1px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 2px);
    position: relative;

    &:hover {
      border-color: #aaaaaa;
    }
  }

  .remove {
    cursor: pointer;
    color: #848484;
    background: #EEE;
    padding: 0 7px;
    height: 100%;
    border-radius: 2px;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 0;
    display: inline-block;
    width: 21px;
    height: 100%;

    &:hover {
      color: #444444;
      background: #E4E4E4;
    }
  }

  .suggestions {
    list-style: none;
    border: 1px solid #888;
    max-height: 10em;
    overflow: auto;
    padding: 0;
    margin: 3px 0 0;
    position: absolute;
    left: -1px;
    z-index: 9999999;
    background: #FFF;
    width: 100%;
    box-sizing: content-box;

    li {
      cursor: pointer;
      padding: 3px 11px;
      font-size: 12px;

      &:hover,
      &.selected {
        background-color: #bebfbf;
      }

      &.empty {
        cursor: default;
        background-color: initial;
        color: #AAA;
      }
    }
  }
}
