.dialog {
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
  width: 500px;
  height: auto;
  min-height: 100px;

  .dialog-toolbar {
    height: 24px;
    background: #fafafa;
    border-bottom: 1px solid #eee;

    .button-close {
      overflow: hidden;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 23px;
      cursor: pointer;
      border-radius: 0;
      border: none;
      border-left: 1px solid #eee;
    
      .text {
        text-indent: -1000px;
        display: block;
      }
    
      &::after {
        content: "x";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .dialog-footer {
    position: relative;
    padding: 8px;
    background: rgba(0,0,0,0.05);
    border-top: 1px solid #eee;

    menu {
      margin: 0;
      padding: 0;
      text-align: right;
    }

    button {
      min-width: 85px;

     + button {
        margin-left: 5px;
      }
    }
  }

  .dialog-description {
    margin: 25px 10px 30px 15px;
    font-size: 13px;

    .error {
      padding: 0;
      margin-top: 20px;
    }
  }
}

.dialog-backdrop {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(216, 216, 216, 0.62);
}
